<div class="carta">
  <div class="titulo">
    <div class="nome">Ayula, Rainha dos Ursos</div>
    <div class="custo">
      <div class="mana"></div>
      <div class="mana"></div>
    </div>
  </div>

  <div class="imagem">
    <img
      src="../../../assets/arts/Ayula.png"
      loading="lazy"
      alt="Ayula, Rainha dos Ursos"
    />
  </div>

  <div class="tipo-container">
    <div class="tipo">Criatura Lendária - Urso</div>
    <div class="edicao"></div>
  </div>

  <div class="texto">
    <div class="efeito">
      Sempre que outro Urso que você controla entrar, escolha um — <br />
      • Coloque dois marcadores +1/+1 no Urso alvo. <br />
      • O Urso alvo que você controla luta <br />
      contra a criatura alvo que você não controla.
    </div>
    <div class="flavour">
      Nascido do mais antigo cedro vermelho, nutrido pela seiva <br />
      do mais alto abeto, coroado sob o mais poderoso <br />
      pinheiro.
    </div>
  </div>

  <div class="pontos">2/2</div>
</div>
